= ponzu_frame :id => "session_form" do
  .panel
    %h1 Editing session

    %fieldset
      %legend Session basic information
      = render 'form'

      = link_to 'Show', ksp(@session)
      |
      = link_to 'Back', ksp(sessions_path)

    %fieldset
      %legend Presentations
      :markdown
        ### Usage
          * Enter presentation numbers and times
          * Drag to reorder presentations.
          * Drag and drop a Session or Presentation
            from another window to create a new Presentation
            inside this session.
          * To create a new presentation which does not yet have a Submission, you have to first create a new Submission.
      = link_to "[new Submission linking to this Session]",
                ksp(:new_submission_path, :session_id => @session)
      |
      = link_to "[reorder presentations by number]", 
                order_presentations_by_number_session_path(@session),
                :method => :put, :remote => :true, :data => {'ks-insert-response' => true}
      |
      = form_tag set_presentation_duration_session_path(@session),
                 :method => :put, :remote => :true, 
                 :data => {'ks-insert-response' => true} do
        duration:
        = number_field_tag(:duration, nil)
        = submit_tag 'set all times'
      %br/
      = form_tag change_children_presentation_types_session_path(@session), :method => :put, :remote => :true,
                   :data => {'ks-insert-response' => true} do |f|
        = label_tag :child_presentation_type, "Change the presentation type of all children."
        = select_tag :child_presentation_type, 
                 options_from_collection_for_select(Presentation.descendants, "to_s", "to_s"), 
                 :include_blank => true
        = submit_tag

      = render :partial => "presentations/list", 
               :locals => {:presentations => @session.presentations}
      #new_presentation_drop.dropbox{ :data => {:action => "#{presentations_path()}", 
                                                :method => "post",
                                                :params => "presentation[session_id]=#{@session.id}",
                                                :"ks-insert-response" => 'true',
                                                :"ks-ajax-on-drop" => 'true'}}
        Drop Submission or Presentation here from a different window to add to this Session
