// http://css-tricks.com/dont-overthink-it-grids/

// * {
//   @include box-sizing(border-box);
// }

$pad: 10px;

.grid {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  &:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

.grid.buttons > div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  &:last-of-type {
    padding-right: 0;
  }
  text-align:center;
  width: 25%;
  height: 120px;
  padding: 5px 0;
  a {
    display: block;
    position: relative;
  }
}

.responsive {
  [class*='col-'] {
    display: inline;
  }
}

[class*='col-'] {
  box-sizing: border-box;
  -webkit-box-sizing: border-b;
  -moz-box-sizing: border-box;
  float: left;
  .grid &:last-of-type {
    padding-right: 0;
  }
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%;
}
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

