= form_for @authorship, :remote => true,
           :data => {:ks_insert_response => true} do |f|
  - if @authorship.errors.any?
    #error_explanation
      %h2
        = pluralize(@authorship.errors.count, "error") 
        prohibited this authorship from being saved:

      %ul
        - @authorship.errors.full_messages.each do |msg|
          %li
            = msg
  %fieldset
    %legend Submission information
    .field
      = f.label :submission_id
      = f.hidden_field :submission_id
      %br/
      = link_to "#{@authorship.submission.submission_number}: #{@authorship.submission.jp_title} #{@authorship.submission.en_title}",
                ksp(:edit_submission_path, @authorship.submission) if @authorship.submission
  %fieldset
    %legend Author information as shown on Presentation
    .field
      = f.label :jp_name
      %br/
      = f.text_field :jp_name, :style => "width: 600px"
    .field
      = f.label :en_name
      %br/
      = f.text_field :en_name, :style => "width: 600px"
    / .field
    /   = f.label :position
    /   %br/
    /   = f.number_field :position
    .field
      = f.label :is_presenting_author
      %br/
      = f.check_box :is_presenting_author
    .field
      = f.label :affiliations
      - @authorship.submission.institutions.each_with_index do |inst, i|
        %div
          = hidden_field_tag "authorship[affiliations][]", ""
          = check_box_tag "authorship[affiliations][]", i + 1, @authorship.affiliations.include?(i + 1)
          = "#{i + 1}) #{inst.name}"
    .actions
      = f.submit

  %fieldset
    %legend このAuthorshipは次の著者Authorと関連しています
    .field
      = f.label :author_id
      = f.number_field :author_id
    .field
      = "#{@authorship.author.jp_name} #{@authorship.author.en_name}"
      = link_to "[edit]", ksp(edit_author_path(@authorship.author)) if @authorship.author
      %br/
      = link_to "[Create new Author for this Authorship]", ksp(new_author_path(:initial_authorship => @authorship)), :target => "_new_author"
    .field
      = @authorship.author.all_unique_affiliations.sort.to_a.join('<br />').html_safe
    %div{:style => "border: #666 1px dotted"}
      :markdown
        Drag an author URL or an author element here to change author
