= ponzu_frame do
  .panel
    %h1 Listing authors

    = form_tag authors_path, :method => :get, 
                           :remote => true,
                           :data => {'ks-insert_response' => true}  do
      = text_field_tag :query, params[:query], 
            :placeholder => "著者検索", :style => "font-size: 20px;width: 15em"
      = submit_tag "検索実行"

    = ks_will_paginate

    %table
      %tr
        %th Jp name
        %th En name
        %th
      - @authors.each do |author|
        %tr
          %td= author.jp_name
          %td= author.en_name
          %td
            = link_to 'Edit', ksp(edit_author_path(author))
    = ks_will_paginate

