= ponzu_frame :id => "users_index" do
  .panel
    %h1 Listing users

    = form_tag users_path, :method => :get, 
                           :remote => true,
                           :data => {'ks-insert_response' => true}  do
      = text_field_tag :query, params[:query], 
            :placeholder => "ユーザ検索", :style => "font-size: 20px;width: 15em"
      = submit_tag "検索実行"

    = ks_will_paginate
    = link_to "Gray users", ksp(users_path(:gray => 1))
    |
    = link_to "Confirm User-Author identity", ksp(users_path(:has_author => 1))
    |
    = link_to "Find Authors for Users", ksp(users_path(:has_no_author => 1))
    |
    = link_to "Nayose Extreme Find All By", ksp(users_path(:nayose_extreme => 1))
    |
    = link_to "All users", ksp(users_path())
    %ul
      %li 黄色ということは、名前が一致しているということ。
      %li 青色ということはメールアドレスのドメイン名のどれか（緑で表示）が、所属名とマッチすること。
      %li 特別な理由がない限り（ミドルネームとか）、黄色は出るはず。青であれば、メールアドレスの確認によりUserとAuthorの所属はほぼ間違いなくマッチしている。青でないものは、所属名を見て同じかどうかを判断する。
      %li "Has no Authors"の著者のうち、実は発表している人がいるかどうかも確認
    %table
      %tr
        %th{:colspan => 3} User
        %th{:colspan => 3} Author
        %th{:colspan => 3} User
        %th Author
        %th User
        %th Author
      %tr
        %th Submission
        %th{:width => 100} Jp name
        %th{:width => 100} En name
        - if params[:has_no_author].blank? && params[:nayose_extreme].blank?
          %th Assoc users
          %th{:width => 100} Jp name
          %th{:width => 100} En name
        - else
          %th{:colspan => 3} Possible Author
        %th Jp aff
        %th En aff
        %th email
        %th Aff
        %th
        %th
      - @users.each do |user|
        - name_same_class = name_is_same(user, user.author) ? "name_same" : ""
        - email_affiliation_matches = email_affiliation_match(user, user.author)
        - affiliation_same_class = !email_affiliation_matches.empty? ? "affiliation_same" : ""
        %tr
          %td= user.submission_info
          %td{:class => name_same_class}= user.jp_name
          %td{:class => name_same_class}= user.en_name
          - if params[:has_no_author].blank? && params[:nayose_extreme].blank?
            %td{:class => name_same_class}= user.author && user.author.users.count
            %td{:class => name_same_class}= user.author && user.author.jp_name
            %td{:class => name_same_class}= user.author && user.author.en_name
          - else
            %td{:colspan => 3}
              - if Author.respond_to? :nayose_extreme_find_all_by
                - (Author.nayose_extreme_find_authors_for_user(user) - [user.author]).each do |a|
                  = link_to "#{a.en_name} (#{a.jp_name})", ksp(:edit_user_path, a)
              - else
                Author.nayose_extreme_find_all_by not implemented. Maybe Nayose::Finders wasn't included into Author class.
          %td{:class => affiliation_same_class}= user.jp_affiliation
          %td{:class => affiliation_same_class}= highlight(user.en_affiliation || "", institution_phrases, highlighter: '<span class="highlight">\1</span>')
          %td{:class => affiliation_same_class}= highlight(user.email, email_affiliation_matches, highlighter: '<font color=green>\1</font>')
          %td{:class => affiliation_same_class}
            - user.author && user.author.unique_affiliation_combos.sort.each do |combo|
              %div{style: "border-bottom: dotted 2px #888"}= highlight(highlight(combo, institution_phrases, highlighter: '<span class="highlight">\1</span>'), email_affiliation_matches, highlighter: '<font color=green>\1</font>')
          %td
            = link_to 'Edit', ksp(edit_user_path(user))
          %td
            = user.author && link_to('Edit', ksp(edit_author_path(user.author)))
    %br/
    = ks_will_paginate

    = link_to 'New User', ksp(new_user_path)
