- labeled_hours = current_conference.timetable_hours(@show_date)
- entry_height_compensation = 5
- now = @show_date.change(:hour => 8, :min => 0)
- left = tt.left_position_for_time now

#entries{style:"position:relative"}
  - labeled_hours.each do |hour|
    - time = @show_date.change(:hour => hour)
    .header{:style => tt.header_css(time)}
      #{hour}:00
  - @rooms.each_with_index do |r, i|
    .row{:class => [cycle('dark', '')],
          :style => tt.row_css(i)}
      .room{:style => "height:100%;width:#{tt.room_label_width}px"}
        %div= link_to r.name, ksp(room_path(r))
        / %div() #{r.name}
  - @sessions.each_with_index do |s, i|
    - next unless @rooms.include?(s.room)
    - style_string = tt.entry_css(:starts_at => s.starts_at, 
                                  :ends_at => s.ends_at, 
                                  :row => @rooms.index(s.room))
    - color_tag = "color_#{i.modulo(12)}"
    = link_to ksp(session_path(s)), :class => ["session", 
                                               color_tag, 
                                               "session_#{s.id}", 
                                               s.type.parameterize.underscore], 
                :id => "session_#{s.id}", :style => style_string,
                :title => "#{s.starts_at.strftime('%H:%M')}-#{s.ends_at.strftime('%H:%M')}\n#{s.room.name}\n#{s.title}" do
      %div.time
        %span.number_header
          = s.number
        %span.time_header
          = "#{s.starts_at.strftime('%H:%M')}-#{s.ends_at.strftime('%H:%M')}"
        %span.room_header
          = s.room.name
      %div.title
        = s.title.html_safe
  = ks_ajax_placeholder :id => "like_highlights_#{params[:id]}",
                        :data => {:ajax => like_highlights_timetable_path(params[:id])}
