= form_for(@submission,
             :html => {:data => { :remote => true,
                                  :ks_insert_response => true,
                                  "invalidates-keys" => invalidated_paths(@submission.presentations)}}) do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2
        = pluralize(@submission.errors.count, "error")
        prohibited this submission from being saved:

      %ul
        - @submission.errors.full_messages.each do |msg|
          %li= msg

  #changed_alert

  .field
    = f.label :submission_number
    %br/
    - if can? :manage, Submission
      = f.text_field :submission_number
    - else
      = @submission.submission_number
  .field
    = f.label :en_title
    (English)
    %br/
    = f.text_field :en_title
  .field
    = f.label :jp_title
    (Japanese)
    %br/
    = f.text_field :jp_title
  .field
    = f.label :external_link
    %br/
    = f.text_field :external_link
  .field
    = f.label :en_abstract
    (English)
    %br/
    = f.text_area :en_abstract, :style => "height:300px"
  .field
    = f.label :jp_abstract
    (Japanese)
    %br/
    = f.text_area :jp_abstract, :style => "height:300px"
  .field
    = f.label :keywords
    %br/
    - 8.times do |i|
      = text_field_tag "submission[keywords][]", 
                       @submission.keywords && @submission.keywords[i],
                       style: "width: 200px"
  .field
    = f.label :corresponding_email
    %br/
    = f.text_field :corresponding_email
  .field
    = f.label :show_email
    = f.check_box :show_email
  .field
    = f.label :show_abstract_to_everybody
    = f.check_box :show_abstract_to_everybody
  .field
    = f.label :speech_language, "発表言語 ('en', 'ja')"
    = f.select :speech_language, ['en', 'ja'], :include_blank => true


  - if can? :manage, Submission
    .field
      = f.label :disclose_at
      %br/
      = f.datetime_select :disclose_at

  / The session_id field is used to automatically create a Presentation object
  / linking this Submission to a Session.
  = hidden_field_tag :session_id, params[:session_id]
  .actions{style:"text-align:right"}
    = f.submit
    |
    = link_to 'Destroy', @submission, confirm: 'Are you sure you want to destroy this submission?', method: :delete, remote: true
