@import "../kamishibai/ks_settings";

// Good when we have more than a few lines for 
// each menu item.
.paneled_list > a {
  position: relative;
  display: block;
  margin: 0;
  border-top: solid 1px #AAA;
  background-image: image-url('angle.png');
  background-position: right center;
  background-repeat: no-repeat;
  padding: 10px 15px 10px 0px;
  &:link, &:visited, &:active, &:hover {
    color: $default-text-color;
    text-decoration: none;
  }
  &:first-child {
    border-top: none;
  }
  a {
    // text-decoration: none;
    &:active {
      background-color: $active-text-color;
      color: $active-background-color !important;
    }  
  }
  > .count {
    position:absolute;
    top: 50%;
    right: 40px;
  }
}

.count {
  margin: -12px;
  font-size: 16px;
  border: solid 1px #ccc;
  background-color: #eee;
  padding: 3px 6px;
  min-width: 24px;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 12px;
  &.red {
    border: solid 1px #bf343a;
    background-color: #e75156;
    color: #FFF;
  }
}


// Good for a menu with one line for each item
.paneled_list > ul, .page > ul, .left_column > ul {
  padding: 0;
  margin: 0;
  & > li {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: groove 2px #FFF;
    background-image: image-url('angle.png');
    background-position: right center;
    background-repeat: no-repeat;
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    & > a {
      padding: 10px 15px 10px 5px;
      font-size: $label-font-size;
      font-weight: bold;
      text-decoration: none;
      color: $default-text-color;
      display: block;
      &:active {
        background-color: $active-background-color;
        color: $active-text-color;
      }      
    }
  }
}
